<div id="set_host_downtime" class="modal fade hide">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <%= alert_close('modal') %>
      <h4 class="modal-title"><%= _('Set host downtime for %s') % @host %></h4>
    </div>
    <div class="modal-body">
      <%= form_for :downtime,
        :method => :put,
        :url    => hash_for_downtime_host_path(:id => @host).merge(:auth_object => @host, :permission => 'build_hosts') do |f| %>
        <%= render :partial => 'downtime_fields', :locals => { :f => f } %>
        <div class="modal-footer">
          <%= modal_close %>
          <%= f.submit(_("Set downtime"), :class => "btn btn-success submit") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
